@use './theme.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  // background-color: var(--sidebar-background);
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  &__sublist{
    margin: 60px 0;
  }
}

.nav-link {
  display: flex;
  gap: 13px;

  &__icon {
    color: var(--tab-inactive-color);

    &_active{
      color: red;
    }

  }

  &__name {

  }
}